*{
margin: 0;
padding: 0;
}
/* для того, чтобы CSS сам не ставил свои значения margin и padding */
.container{
width: 1140px;
margin: 0 auto;
}
.site-body{
background-color: rgb(255, 2, 2);
}
.site-header{
height: 770px;
background-image: url(./img/Background.jpg);
padding-top: 40px;
color: #222222;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.site-title{
    font-family: 'Big Shoulders Text', cursive;
    display: inline-block;
   color: rgb(255, 255, 255);  
}
.site-head{
    font-family: 'Big Shoulders Text', cursive;
    display: inline-block;
}
.navigation-list{
display: inline-block;
list-style: none;
}
.navigation-list__item{
display: inline-block;
list-style: none;
}